h4 {
    /* font-family: "Raleway"; */
}

.p-1 {
    border-radius: 5px;
    background: var(--accent);
    margin: 0.5rem 0.25rem;
}

.tech-tag {
    border-color: transparent;
    background-color: transparent;
    /* font-family: "Raleway"; */
    font-size: 0.85rem;
}
